[Unit]
Description=onug backend app

[Service]
ExecStart=/bin/bash -c '/home/ubuntu/app/rika-onug/onug-backend/src/server.js'
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=ONUG_REPOSITORY_TYPE=local
Environment=ONUG_LOG_LEVEL=WARN
WorkingDirectory=/home/ubuntu/app/rika-onug/onug-backend/

[Install]
WantedBy=multi-user.target